In [9]:
import kagglehub

# Download latest version
path = kagglehub.dataset_download("shriyashjagtap/e-commerce-customer-for-behavior-analysis")

print("Path to dataset files:", path)

Path to dataset files: C:\Users\Playdata\.cache\kagglehub\datasets\shriyashjagtap\e-commerce-customer-for-behavior-analysis\versions\4

In [11]:
import pandas as pd
df = pd.read_csv('data/ecommerce_customer_data_custom_ratios.csv')

df.head()

,Customer ID,Purchase Date,Product Category,Product Price,Quantity,Total Purchase Amount,Payment Method,Customer Age,Returns,Customer Name,Age,Gender,Churn
0,46251,2020-09-08 09:38:32,Electronics,12,3,740,Credit Card,37,0.0,Christine Hernandez,37,Male,0
1,46251,2022-03-05 12:56:35,Home,468,4,2739,PayPal,37,0.0,Christine Hernandez,37,Male,0
2,46251,2022-05-23 18:18:01,Home,288,2,3196,PayPal,37,0.0,Christine Hernandez,37,Male,0
3,46251,2020-11-12 13:13:29,Clothing,196,1,3509,PayPal,37,0.0,Christine Hernandez,37,Male,0
4,13593,2020-11-27 17:55:11,Home,449,1,3452,Credit Card,49,0.0,James Grant,49,Female,1

In [ ]:
import pandas as pd
df = pd.read_csv('data/`ecommerce_customer_data_large`.csv')

df.head()

,Customer ID,Purchase Date,Product Category,Product Price,Quantity,Total Purchase Amount,Payment Method,Customer Age,Returns,Customer Name,Age,Gender,Churn
0,44605,2023-05-03 21:30:02,Home,177,1,2427,PayPal,31,1.0,John Rivera,31,Female,0
1,44605,2021-05-16 13:57:44,Electronics,174,3,2448,PayPal,31,1.0,John Rivera,31,Female,0
2,44605,2020-07-13 06:16:57,Books,413,1,2345,Credit Card,31,1.0,John Rivera,31,Female,0
3,44605,2023-01-17 13:14:36,Electronics,396,3,937,Cash,31,0.0,John Rivera,31,Female,0
4,44605,2021-05-01 11:29:27,Books,259,4,2598,PayPal,31,1.0,John Rivera,31,Female,0

In [1]:
import kagglehub

# Download latest version
path = kagglehub.dataset_download("bhadramohit/social-media-usage-datasetapplications")

print("Path to dataset files:", path)

c:\python_workspace\python\deep_learning\dl_venv\Lib\site-packages\tqdm\auto.py:21: TqdmWarning: IProgress not found. Please update jupyter and ipywidgets. See https://ipywidgets.readthedocs.io/en/stable/user_install.html
  from .autonotebook import tqdm as notebook_tqdm

Downloading from https://www.kaggle.com/api/v1/datasets/download/bhadramohit/social-media-usage-datasetapplications?dataset_version_number=1...

100%|██████████| 9.10k/9.10k [00:00<00:00, 6.70MB/s]

Extracting files...
Path to dataset files: C:\Users\anajr\.cache\kagglehub\datasets\bhadramohit\social-media-usage-datasetapplications\versions\1

In [2]:
import kagglehub

# Download latest version
path = kagglehub.dataset_download("eklavya16/ott-viewer-drop-off-and-retention-risk-dataset")

print("Path to dataset files:", path)

Downloading from https://www.kaggle.com/api/v1/datasets/download/eklavya16/ott-viewer-drop-off-and-retention-risk-dataset?dataset_version_number=1...

100%|██████████| 439k/439k [00:00<00:00, 1.57MB/s]

Extracting files...
Path to dataset files: C:\Users\anajr\.cache\kagglehub\datasets\eklavya16\ott-viewer-drop-off-and-retention-risk-dataset\versions\1

In [7]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
df = pd.read_csv('data/ott_viewer_dropoff_retention_us_v1.0.csv')
df.head()

,show_id,title,platform,genre,release_year,season_number,episode_number,episode_duration_min,pacing_score,hook_strength,...,pause_count,rewind_count,skip_intro,cognitive_load,attention_required,night_watch_safe,drop_off,drop_off_probability,retention_risk,dataset_version
0,66732,Stranger Things,Netflix,Sci-Fi & Fantasy,2016.0,1,1,48,4,5,...,3,0,0,9,high,0,1,0.649,high,v1.0
1,66732,Stranger Things,Netflix,Sci-Fi & Fantasy,2016.0,1,2,55,5,4,...,3,3,1,5,medium,0,0,0.473,medium,v1.0
2,66732,Stranger Things,Netflix,Sci-Fi & Fantasy,2016.0,1,3,51,4,8,...,4,2,0,9,high,0,0,0.583,medium,v1.0
3,66732,Stranger Things,Netflix,Sci-Fi & Fantasy,2016.0,1,4,50,4,7,...,4,1,0,7,high,0,0,0.520,medium,v1.0
4,66732,Stranger Things,Netflix,Sci-Fi & Fantasy,2016.0,1,5,52,4,3,...,3,0,1,7,high,0,1,0.638,high,v1.0

In [8]:
import kagglehub

# Download latest version
path = kagglehub.dataset_download("jessekeats/tutoring-website-data")

print("Path to dataset files:", path)

Downloading from https://www.kaggle.com/api/v1/datasets/download/jessekeats/tutoring-website-data?dataset_version_number=5...

100%|██████████| 1.36M/1.36M [00:00<00:00, 3.36MB/s]

Extracting files...
Path to dataset files: C:\Users\anajr\.cache\kagglehub\datasets\jessekeats\tutoring-website-data\versions\5

In [10]:

df = pd.read_csv('data/tutoring_data.csv')
df.count()

User_ID                          14843
Age_in_Months                    14843
Gender                           14843
Location                         14843
Grade                            14843
Logins_per_Month                 14843
Days_Completed_Activity          14843
Exercises_Started                14843
Total_Time_Spent_in_Minutes      14843
Course_Name                      14843
Course_Category                  14843
Completion_Rate                  14843
Average_Score                    14843
Course_Rating                    14843
Recommendation_Likelihood        14843
Exercises_Completed              14843
Points_Earned                    14843
Subscription_Tier                14843
Subscription_Cost                14843
Subscription_Length_in_Months    14843
Renewal_Status                   14843
Tutoring                         14843
Referrals                        14843
Academic_Grade                   14843
dtype: int64

In [1]:
import kagglehub

# Download latest version
path = kagglehub.dataset_download("sharmadeepankaj/customer-churn-of-powerco-ltd")

print("Path to dataset files:", path)

c:\python_workspace\python\deep_learning\dl_venv\Lib\site-packages\tqdm\auto.py:21: TqdmWarning: IProgress not found. Please update jupyter and ipywidgets. See https://ipywidgets.readthedocs.io/en/stable/user_install.html
  from .autonotebook import tqdm as notebook_tqdm

Downloading from https://www.kaggle.com/api/v1/datasets/download/sharmadeepankaj/customer-churn-of-powerco-ltd?dataset_version_number=1...

100%|██████████| 2.27M/2.27M [00:04<00:00, 589kB/s]

Extracting files...
Path to dataset files: C:\Users\anajr\.cache\kagglehub\datasets\sharmadeepankaj\customer-churn-of-powerco-ltd\versions\1